{% extends 'base.html' %}

{% block title %}
Home - Movies
{% endblock %}

{% block main %}
<h2 class="mt-4">Каталог программного обеспечения</h2>

<ul class="list-group mt-4">
  {% for feature in features %}
  <li class="list-group-item">{{ feature }}</li>
  {% endfor %}
</ul>
{% endblock %}

{% block footer %}
<div>
  <small>Данный сервис находится в стадии активной разработки.</small>
  <small>Мы постоянно работаем над добавлением новых функций и улучшением существующих возможностей.</small>
</div>
{{ super() }}
{% endblock %}
